<section class="suggestions-card" dir="ltr">

  <div class="suggestions-header">

    <div class="suggestions-title">

      <span class="group-icon">
        <i
          class="fa-solid fa-user-group"
          aria-hidden="true"
        ></i>
      </span>

      <h2>
        {{ 'SUGGESTED_FRIENDS.TITLE' | translate }}
      </h2>

    </div>

    <span class="suggestions-count">
      {{ totalSuggestions }}
    </span>

  </div>


  <div class="friends-search">

    <span class="search-icon">
      <i
        class="fa-solid fa-magnifying-glass"
        aria-hidden="true"
      ></i>
    </span>

    <input
      type="search"
      [formControl]="searchControl"
      [placeholder]="'SUGGESTED_FRIENDS.SEARCH_BY_NAME' | translate"
      [attr.aria-label]="'SUGGESTED_FRIENDS.SEARCH_BY_NAME' | translate"
    />

  </div>


  @if (errorMessage) {

    <p
      class="suggestions-error"
      role="alert"
    >
      {{ errorMessage }}
    </p>

  }


  @if (isLoading) {

    <div
      class="suggestions-loading"
      role="status"
    >

      <i
        class="fa-solid fa-spinner fa-spin"
        aria-hidden="true"
      ></i>

      <span>
        {{ 'SUGGESTED_FRIENDS.LOADING' | translate }}
      </span>

    </div>

  } @else if (filteredSuggestions.length > 0) {

    <div class="friends-list">

      @for (
        friend of filteredSuggestions;
        track friend._id
      ) {

        <article class="friend-card">

          <div class="friend-item">

            <div class="friend-info">

              <img
                [src]="friend.photo || 'assets/images/user-avatar.jpg'"
                [alt]="friend.name"
                class="friend-avatar"
              />

              <div class="friend-text">

                <h3>
                  {{ friend.name }}
                </h3>

                <p>
                  &#64;{{ friend.username }}
                </p>

              </div>

            </div>


            <button
              type="button"
              class="follow-button"
              (click)="follow(friend)"
              [disabled]="followRequests.has(friend._id)"
            >
              {{
                followRequests.has(friend._id)
                  ? ('SUGGESTED_FRIENDS.FOLLOWING' | translate)
                  : ('SUGGESTED_FRIENDS.FOLLOW' | translate)
              }}
            </button>

          </div>


          @if (friend.followersCount !== undefined) {

            <div class="friend-meta">

              <span>
                {{ friend.followersCount }}
                {{ 'SUGGESTED_FRIENDS.FOLLOWERS' | translate }}
              </span>

            </div>

          }

        </article>

      }

    </div>

  } @else if (!errorMessage) {

    <p class="suggestions-empty">
      {{
        searchControl.value.trim()
          ? ('SUGGESTED_FRIENDS.NO_RESULTS' | translate)
          : ('SUGGESTED_FRIENDS.NO_SUGGESTIONS' | translate)
      }}
    </p>

  }


  @if (hasMore && !isLoading) {

    <button
      type="button"
      class="view-more-button"
      routerLink="/suggested-friends"
    >
      {{ 'COMMON.VIEW_MORE' | translate }}
    </button>

  }

</section>