<main class="auth-page">

  <div class="auth-container">

    <!-- Left Side -->
    <section class="intro-section">

      <header class="brand-header">
        <h1 class="brand-title">Route Posts</h1>

        <p class="brand-description">
          Connect with friends and the world around you on Route Posts.
        </p>
      </header>


      <article class="academy-card">

        <p class="academy-label">
          ABOUT ROUTE ACADEMY
        </p>

        <h2 class="academy-title">
          Egypt's Leading IT Training Center Since 2012
        </h2>

        <p class="academy-description">
          Route Academy is the premier IT training center in Egypt,
          established in 2012. We specialize in delivering high-quality
          training courses in programming, web development, and application
          development. We've identified the unique challenges people may face
          when learning new technology and made efforts to provide strategies
          to overcome them.
        </p>


        <div class="stats-grid">

          <div class="stat-card">
            <strong>2012</strong>
            <span>FOUNDED</span>
          </div>

          <div class="stat-card">
            <strong>40K+</strong>
            <span>GRADUATES</span>
          </div>

          <div class="stat-card">
            <strong>50+</strong>
            <span>PARTNER COMPANIES</span>
          </div>

          <div class="stat-card">
            <strong>5</strong>
            <span>BRANCHES</span>
          </div>

          <div class="stat-card">
            <strong>20</strong>
            <span>DIPLOMAS AVAILABLE</span>
          </div>

        </div>

      </article>

    </section>


    <!-- Right Side -->
    <section class="login-card">

      <div class="auth-tabs">

        <a
    routerLink="/login"
    routerLinkActive="active"
    class="tab"
  >
    Login
  </a>

  <a
    routerLink="/register"
    routerLinkActive="active"
    class="tab"
  >
    Register
  </a>

      </div>


      <div class="form-header">

        <h2>Log in to Route Posts</h2>

        <p>
          Log in and continue your social journey.
        </p>

      </div>


      <form class="login-form"  [formGroup]="loginForm"  
       (ngSubmit)="submitForm()">

      <!-- Email -->
      <div>
         @let emailControle=loginForm.get('email');
        <div class="form-field"
       [class.invalid-field]="
    emailControle?.invalid  && emailControle?.touched ">

          <span class="at-icon">
            @
          </span>


          <input
            type="email"
            placeholder="Email address"
            formControlName="email"
             
          >

        </div>
  @if (emailControle?.invalid  && emailControle?.touched) 
        {
       <!-- Error Alert  -->
        <p class="validation-message">
           @if (emailControle?.hasError('required')) 
           {
            <span class="block">Email is required.</span>
           }
       
          @else if (emailControle?.hasError('email') )
          {
            <span class="block">Please enter a valid email address.</span> 
          }
        </p>
      }
      </div>
          <!-- Password -->
        <div>
          @let passwordControle=loginForm.get('password');
        <div class="form-field"
            [class.invalid-field]="passwordControle?.invalid && passwordControle?.touched">
          <svg
            class="field-icon"
            viewBox="0 0 24 24"
            fill="none"
          >

            <circle
              cx="15.5"
              cy="8.5"
              r="4"
              stroke="currentColor"
              stroke-width="1.7"
            />

            <path
              d="M12.7 11.3L5 19v2h2.5v-2.5H10V16h2.5l2.2-2.2"
              stroke="currentColor"
              stroke-width="1.7"
              stroke-linecap="round"
              stroke-linejoin="round"
            />

          </svg>

          
          <input
          #passInput
            type= "password"
            placeholder="Password"
            formControlName="password"
            autocomplete="new-password"
          >
          <span class="password-icon"  (click)="showPassword(passInput)">
            
           <i   [class]="{ 'fa-eye-slash':passInput.type=== 'password',
           'fa-eye' : passInput.type==='text' }"
           class="fas"
            ></i>
          </span>


        </div>

        @if (passwordControle?.invalid && passwordControle?.touched) 
        {
         <!-- Error Alert  -->
        <p class="validation-message">
        @if (passwordControle?.hasError('required')) 
        {
          <span class="block">Password is required.</span>
        }
         @else if (passwordControle?.hasError('pattern')) 
        {
          <span class="block">Password must include uppercase, lowercase, number, and special character. </span>
        }
        </p>
      }
       </div>


        <button class="login-button" type="submit">
          @if(loading) 
          {
          <i class="fas fa-spinner animate-spin"></i>
           Log In
          }
           @else
           {
              Log In
           }
         
        </button>

         @if(errMsg)
        {
        <p class="validation-message">
           <span class="block">{{errMsg}}</span>
       </p>
        }

        <a routerLink="/forget-password"  class="forget-password">
          Forgot password?
        </a>
     
      </form>
    
    </section>

  </div>

</main>