<nav
  class="sidebar-card"
  [attr.aria-label]="'SIDEBAR.NAVIGATION' | translate"
>

  <a
    routerLink="/feed"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="sidebar-item"
  >
    <span class="sidebar-icon">📄</span>

    <span>
      {{ 'SIDEBAR.FEED' | translate }}
    </span>
  </a>


  <a
    routerLink="/my-posts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="sidebar-item"
  >
    <span class="sidebar-icon">✍️</span>

    <span>
      {{ 'SIDEBAR.MY_POSTS' | translate }}
    </span>
  </a>


  <a
    routerLink="/community"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="sidebar-item"
  >
    <span class="sidebar-icon">🌐</span>

    <span>
      {{ 'SIDEBAR.COMMUNITY' | translate }}
    </span>
  </a>


  <a
    routerLink="/saved"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="sidebar-item"
  >
    <span class="sidebar-icon">🔖</span>

    <span>
      {{ 'SIDEBAR.SAVED' | translate }}
    </span>
  </a>

</nav>