/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
body
{
     font-family: "SN Pro", sans-serif;
}
@theme
{
     --color-main-color:#00298d;
     --color-second-color:#f0f2f5;
}

@utility container
{
     margin-inline: auto;
}

