
<div class="feed-page" dir="ltr">

  <div class="feed-layout">

    <!-- ================= LEFT SIDEBAR ================= -->
    <aside class="left-sidebar">
      <app-sidebar-navigation></app-sidebar-navigation>
    </aside>


    <!-- ================= CENTER ================= -->
    <main class="feed-main">
      <router-outlet />
    </main>


    <!-- ================= RIGHT SIDEBAR ================= -->
    <aside class="right-sidebar">
      <app-suggested-friends></app-suggested-friends>
    </aside>

  </div>

</div>
